In [2]:
import pandas as pd

1. Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.

2. Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.

3. If you use the SQL option below, youâ€™ll need to cast your columns as floats using WHERE CAST(helpful_votes AS FLOAT)/CAST(total_votes AS FLOAT) >=0.5.
Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

4. Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.

5. Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [3]:
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R33UPQQUZQEM8,5.0,3.0,3.0,N,Y
1,R3IKTNQQPD9662,5.0,0.0,0.0,N,Y
2,R3U27V5QMCP27T,5.0,1.0,1.0,N,Y
3,R2TOH2QKNK4IOC,5.0,0.0,1.0,N,Y
4,R2XQG5NJ59UFMY,5.0,0.0,0.0,N,Y

In [5]:
vine_df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [6]:
vine_df2 = vine_df.loc[vine_df["total_votes"]>= 20]
vine_df2.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
273,R31EUR60FV3BU5,4.0,32.0,39.0,N,N
413,R12Q1NO1HI9PP4,1.0,4.0,86.0,N,N
443,R3MDX24QDAT0OW,4.0,35.0,37.0,N,N
545,R2YVFZB4ESDT7D,5.0,139.0,141.0,N,Y
563,R6TNONSNFM82I,1.0,0.0,28.0,N,Y

In [7]:
vine_df3 = vine_df2.loc[(vine_df2["helpful_votes"]/vine_df2["total_votes"])>= 0.5]
vine_df3.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
273,R31EUR60FV3BU5,4.0,32.0,39.0,N,N
443,R3MDX24QDAT0OW,4.0,35.0,37.0,N,N
545,R2YVFZB4ESDT7D,5.0,139.0,141.0,N,Y
626,R2R8EWH1JUZCSI,5.0,16.0,21.0,N,N
980,R3I8GORXGEJL3R,4.0,95.0,103.0,N,Y

In [8]:
vine_df_y = vine_df3.loc[vine_df3["vine"]=="Y"]
vine_df_y.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1599848,R3PBQ665MBL8CP,3.0,66.0,72.0,Y,N
1651975,R3EMD30K7MNOZ0,2.0,20.0,25.0,Y,N
1688995,R2GF3ZLO2B0Y71,5.0,236.0,243.0,Y,N
1729649,R1F8T2Z7U3N6HL,3.0,11.0,20.0,Y,N
1871244,R5QTOT1GVR8RG,4.0,16.0,20.0,Y,N

In [9]:
vine_df_n = vine_df3.loc[vine_df3["vine"]=="N"]
vine_df_n.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
273,R31EUR60FV3BU5,4.0,32.0,39.0,N,N
443,R3MDX24QDAT0OW,4.0,35.0,37.0,N,N
545,R2YVFZB4ESDT7D,5.0,139.0,141.0,N,Y
626,R2R8EWH1JUZCSI,5.0,16.0,21.0,N,N
980,R3I8GORXGEJL3R,4.0,95.0,103.0,N,Y

In [10]:
total_y_review = vine_df_y.shape[0]
total_y_review

49

In [12]:
total_y_five_star = vine_df_y.loc[vine_df_y["star_rating"]==5.0].shape[0]
total_y_five_star

9

In [13]:
percentage_y_five_star = (total_y_five_star / total_y_review)* 100
percentage_y_five_star

18.367346938775512

In [14]:
total_n_review = vine_df_n.shape[0]
total_n_review

151400

In [15]:
total_n_five_star = vine_df_n.loc[vine_df_n["star_rating"]==5.0].shape[0]
total_n_five_star

78061

In [16]:
percentage_n_five_star = (total_n_five_star / total_n_review)* 100
percentage_n_five_star

51.55944517833554